.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #333;
}

.navbar-text {
  margin-left: 15px;
}
/*
.navbar-default {
  background-color: #2B2B2B;
}

.navbar-default .navbar-nav>li>a{
  color: #F6F6F6;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #DE1B1B;
}

.navbar-default .navbar-text {
  color: #F6F6F6;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: #F6F6F6;
}

.navbar-default .navbar-nav>.active>a:hover {
  color: #F6F6F6 !important;
}*/

.welcome {
  padding: 10px;
  color: #f6f6f6;
}
