<form name="statsForm" novalidate  ng-submit="submit()">
  <div  ng-if="promiseParam"></div>
  <div class="container">


    <div class="row">
      <div class="col-md-3">
        <label>Start Date</label>
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="startDropdown" uib-dropdown-toggle>
            <div class='input-group'>
              <input type='text' class='form-control' data-ng-model='startDate' data-date-time-input="DD-MMM-YYYY HH:mm ZZ" >
              <span class='input-group-addon'><i class='glyphicon glyphicon-calendar'></i></span>
            </div>
          </a>
          <ul uib-dropdown-menu aria-labelledby="startDropdown">
            <li>
              <datetimepicker data-ng-model='startDate'
                              data-datetimepicker-config="{ minView: 'minute', minuteStep: 5}">
              </datetimepicker>
            </li>
          </ul>
        </span>
      </div>

      <div class="col-md-3">
        <label>End Date</label>
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="endDropdown" uib-dropdown-toggle>
            <div class='input-group'>
              <input type='text' class='form-control' data-ng-model='endDate' data-date-time-input="DD-MMM-YYYY HH:mm ZZ">
              <span class='input-group-addon'><i class='glyphicon glyphicon-calendar'></i></span>
            </div>
          </a>
          <ul uib-dropdown-menu aria-labelledby="endDropdown">
            <li>
              <datetimepicker data-ng-model='endDate'
                              data-datetimepicker-config="{ minView: 'minute', minuteStep: 5}">
              </datetimepicker>
            </li>
          </ul>
        </span>
      </div>

      <div class="col-md-3">
        <div class="col-md-7">
          <div style="text-align: -webkit-center;">Interval to summarize data (in minutes): </div>
        </div>
        <div class="col-md-5 padding_top20">
          <select class="form-control" ng-model="statisticCtrl.intervalSelect" ng-options='interval for interval in statisticCtrl.intervals'>
          </select>
        </div>
      </div>

      <div class="col-md-3 padding_top20">
        <input class="btn btn-default" type="submit" id="submit" value="Filter Measurements" style="float:right" />
      </div>

  </div>

    <div class="alert alert-warning warning-dimens" ng-if="warning">{{warning}}</div>
    <div ng-if="warning === undefined">
      <hc-stats options="statsChartOpts">Placeholder for generic chart</hc-stats>
    </div>

  </div>
</form>

<div ng-show="loader.loading">
  <div class="loading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>
</div>

